body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    color: #ff00b2;
    font-size: 2.7em;
    letter-spacing: 0.4em;
}

#image-list {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}

#image-list li {
    list-style: none;
    width: 200px;
    height: 375px;
    margin: 15px 15px 50px 15px;

}

#image-list img {
    width: 100%;
}

#form-section, #paging-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    border: none;
}

#filter-button, #reset-button {
    background-color: #ff00b2;
    color: white;
    padding: 8px;
    border-radius: 2px;
}

#previous-button, #next-button {
    color: #ff00b2;
    font-size: 1.7em;
    
}

#input-section {
    margin-bottom: 15px;
}


#medium {
    margin-right: 20px;
}

#animals {
    margin-right: 20px;
}

.animal-number {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}